<% @post.tags.build %>
<%= simple_form_for(@post, html: { class: "form-horizontal"}) do |post_form| %>

  <%= render 'shared/error_messages' %>
  
  <%= post_form.input :title, label: "Title" %>
  <%= post_form.input :content, as: :text, input_html: { rows: "10"} %>

  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => post_form} %>

  <div class="actions">
    <%= post_form.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>